<html>
    <head>
        <title>Product Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap" rel="stylesheet">

        <script src="../static/js/cart.js"></script>
        <link rel="stylesheet" href="../static/css/main.css">
        <style>
            .product-page {
                background-image: url("../static/images/custom-divider.png"), url("../static/images/{{img}}.png");
                background-position: top, bottom left;
                background-size: auto, 52%;
            }
        </style>
    </head>
    <body class="product-page">
       
        <header>
            <a href="../../">
                <img src="../static/images/logo-cropped.png" alt="Potted Paradise" href="../../" width="250" />
            </a>
            <button class="btn-transparent" onclick="window.location.href='/cart/'"> View Cart</button>
            <button class="btn-transparent" onclick="window.location.href='/shop/'">Shop Plants</button>
        </header>

    <section>        <h1>{{ plant["name"] }}</h1>
        <!-- <img src="../static/images/{{img}}.png" alt="Failed to load image"> -->
        <p>{{ plant["description"] }}</p>
        <p>${{ plant["price"] }}0</p>

        <div class="row">
            <p>Quantity:    </p>
            <div class="col-md-4" id="product-1">
            <button class="btn-plus">+</button>

            <input type="number" class="input" value="1" min="1" />
            
            <button class="btn-plus">-</button>
                
            <div class="block">
                <a href="product.php?add-to-cart=1" data-id="1" data-quantity="1" class="add-to-cart ajax product-1">Add to Cart</a>
             <div>
            </div>
        </div>

    </section>

    <aside>
        <div class="caretips">
            <h1>Care Tips!</h1>
            <ul>
            <li>Sun: {{ plant["care_sunlight"] }}</li>
            <li>Water: {{ plant["care_water"]}}</li>
            </ul>
        </div>
    </aside>

            

    </body>
</html>