<html>
    <head>
        <title>Product Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap" rel="stylesheet">

        <script src="../static/js/cart.js" defer></script>
        
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/product.css">
        <style>
            .product-page {
                background-image: url("../static/images/custom-divider.png"), url("../static/images/{{type}}.png");
                background-position: 80%, top left;
                background-size:cover, 50%;
            }
        </style>
    </head>
    <body class="product-page">
        <header>
            <a href="../../">
                <img src="../static/images/logo-cropped.png" alt="Potted Paradise" href="../../" width="250" />
            </a>
            <button class="btn-transparent" onclick="window.location.href='/checkout/'">View Cart</button>
            <button class="btn-transparent" onclick="window.location.href='/shop/'">Shop Plants</button>
        </header>

        <section>       
            <h1>{{ plant["name"] }}</h1>
            <p>{{ plant["description"] }}</p>
            <p>${{ plant["price"] }}0</p>

            <div class="row">      
                <div class="block">
                    <button id="add" type="button" class="add-to-cart ajax product-1 {{type}}">Add to Cart</button>
                </div>
            </div>

        </section>

    <aside>
        <div class="caretips">
            <h1>Care Tips!</h1>
            <ul>
                <li>Sun: {{ plant["care_sunlight"] }}</li>
                <li>Water: {{ plant["care_water"]}}</li>
            </ul>
            <img src="../static/images/care-card.png" alt=""s>
        </div>
    </aside>

            

    </body>
</html>