<html>
    <head>
        <title>Product Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body class="produt-page">
       
        <navbar>
            <img src="../static/images/logo-cropped.png" alt="Potted Paradise" width="250px"/>
            <button class="btn-transparent" onclick="window.location.href='shop.html'">Shop Plants</button>
            <button class="btn-transparent" onclick="window.location.href='shop.html'">Contact Us</button>

        </navbar>

        <h1>{{ plant["name"] }}</h1>
        <img src="../static/images/{{type}}.png" alt="Failed to load image">
        <p>{{ plant["description"] }}</p>
        <p>{{ plant["price"] }}</p>
        <p>Sun: {{ plant["care_sunlight"] }}</p>
        <p>Water: {{ plant["care_water"] }}</p>

    </body>
</html>