<html>
    <head>
        <title>Shop Now</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/shop.css">
    </head>
    <body class="shop">

        <header>
            <a href="/">
            <img src="../static/images/logo-cropped.png" alt="Potted Paradise" href="/" width="350" />
            </a>
            <button class="btn-transparent" onclick="window.location.href='/checkout/'">View Cart</button>
            <button class="btn-transparent" onclick="window.location.href='/contact/'">Contact Us</button>

        </header>
        <section>
            <span class="product-card">
                <img src="../static/images/product-card.png">
                <img src="../static/images/echeveria.png">

                <button class="btn-pink" onclick="window.location.href='/product/echeveria'">Buy Now</button>

                <div class="label">
                    <p>Echeveria</p>
                    <p class="price">$6.00</p>
                </div>
            </span>

            <div class="product-card">
                <img src="../static/images/product-card.png">
                <img src="../static/images/snakeplant.png">

                <button class="btn-pink" onclick="window.location.href='/product/snakeplant'">Buy Now</button>
                
                <div class="label">
                    <p>Snake Plant</p>
                    <p class="price">$6.00</p>
                </div>
        
            </div>

            <span class="product-card">
                <img src="../static/images/product-card.png">
                <img src="../static/images/moneytree.png">

                <button class="btn-pink" onclick="window.location.href='/product/moneytree'">Buy Now</button>
                <div class="label">
                    <p>Money Tree</p>
                    <p class="price">$6.00</p>
                </div>
            </span>

            <span class="product-card">
                <img src="../static/images/product-card.png">
                <img src="../static/images/pothos.png">

                <button class="btn-pink" onclick="window.location.href='/product/pothos'">Buy Now</button>
                <div class="label">
                    <p>Golden Pathos</p>
                    <p class="price">$6.00</p>
                </div>
            </span>

            <span class="product-card">
                <img src="../static/images/product-card.png">
                <img src="../static/images/cactus.png">

                <button class="btn-pink" onclick="window.location.href='/product/cactus'">Buy Now</button>
                <div class="label">
                    <p>Cactus Plant</p>
                    <p class="price">$6.00</p>
                </div>
            </span>

            <span class="product-card">
                <img src="../static/images/product-card.png">
                <img src="../static/images/airplant.png">

                <button class="btn-pink" onclick="window.location.href='/product/airplant'">Buy Now</button>
                <div class="label">
                    <p>Air Plant</p>
                    <p class="price">$6.00</p>
                </div>
            </span>
        </section>

    </body>
</html>