section {
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin: 0;
}

section > p {
    margin: 0;
    font-size: 1em;
    padding-bottom: .5em;
    white-space: nowrap;
}

section:first-of-type {
    padding-top: 60px;
    
}

.btn-pink {
    margin-top: 20px;
}

@media (min-width:320px) { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .p-logo {
        display: none;
    }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .p-logo {
        display: flex;
        position: absolute;
    }
    
    .p-logo:first-of-type {
        top: 50%;
    }
    
    img:last-of-type {
        right: 0;
        top: 50%
    }
}