.home-page {
    background-image: url("../images/background-checkout.png");
    background-position: bottom;
    background-attachment: fixed;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50%;
}

@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .home-page {
        background-image: url("../images/background-home.png");
        background-position: top right;
        background-attachment: local;
        background-size: 80%;
    }

    section {
        margin-right: 45%;
        margin-bottom: 0; 
        text-align: left;
    }
}