:root{
    /* Define Global Colors here */
    --deep-green: #515c00;
    --deep-green-transparent: #515c0099;
    --light-pink: #E2ADBA;
    --white: #FFFFFF;
    --dark-pink: #C34364;
 
}
/* Global Styles */
html {
    box-sizing: border-box;
    padding: 0px 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: against_regular;
    src:url("../fonts/against_regular.ttf"), url("../fonts/against_regular.otf") format("opentype");
}
body {
    font-family: 'Red Hat Text', sans-serif;
    color: var(--white);
    background-repeat: no-repeat;
    background-position: top  right;
    background-color: var(--deep-green);
    background-attachment: fixed;
    font-size: 1.5em;
}

header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    left: 0;
    width: 100%;
    background-color: var(--deep-green);
    z-index: 3;
}

section {
    margin-bottom: 50px;
    margin-top: 100px;
}


h1 {
    display: flex;
    font-family: against_regular, monsterrat, "arial", sans-serif;
    color: var(--light-pink);
    font-size: 2em;
}
 
/* Product page specific styles */
 .product-page > section {
    display: flex;
    float: right;
    text-align: right;
    margin-left: 60%;
    margin-right: 30px;
    flex-direction: column;
}

.caretips {
    position:absolute;
    bottom: 0;
    left: 20px;
    width: 400px;
    font-size: smaller;
}

.caretips > img {
    position: absolute;
    bottom: 0;
    width: 600px;
    height: 434px;
    z-index: -1;
}

.caretips > h1 {
    color: var(--deep-green);
    font-size: 40px;
    white-space: nowrap;
    position:relative;
    left: 139px;
    z-index: 1;
    margin-bottom: -10px;
}
.caretips > ul {
    position:relative;
    width: 500px;
    margin-bottom:80px;
    margin-top: 0;
    left: 30px;
}
.caretips > ul > li {
    list-style-image: url('../images/rain.png');
    z-index: 1;
}

.caretips > ul > li:first-child {
    list-style-image: url('../images/sun.png');
}

/* shop Page specific styles */

.product-page > section > h1 {
    align-self: flex-end;
}
      
/* Various Button Styles */
     
button {
    display: inline-block;

    border: none;
    border-radius: 50px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
}

.btn-pink {
    background-color: var(--dark-pink);
    color: var(--white);
    font-size: larger;
}

.quantity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}
.btn-plus {
    border-radius: 60px;
    padding: 10px 15px;
    float: right;
    background-color: var(--light-pink);
    color: var(--dark-pink);
    font-weight: bold;
    font-size: large;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.btn-transparent, input {
    background: none;
    color: var(--white);
    float: right;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px black;
}

header > .btn-transparent {
    background-color: var(--deep-green);
    border-radius: 0px;
}

input {
    display: inline-flex;
    width: 70px;
    border: none;
}

.add-to-cart {
    display: block;
    float: right;
    margin-right: 4 0px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: var(--dark-pink);
    border-radius: 50px;
    padding: 10px 30;

}

@media (min-width:320px) { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .home-page > section {
        margin-right: 0px;
    }
    .home-page {
        background-image: none;
    }

}
@media (min-width:480px) {
     /* smartphones, Android phones, landscape iPhone */
     .home-page {
        background-image: none;

    }
}


@media (min-width:600px) { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .home-page {
        background-image: none;
    }

}
@media (min-width:801px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    /* home page specific styles */
    /* hi-res laptops and desktops */ 
    .home-page {
        background-image: url("../images/background-checkout.png");
        background-position: bottom;
    }

    .home-page > section {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 100px;
    }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .home-page {
        background-image: url("../images/background-home.png");
        background-position: top right;
    }

    .home-page > section {
        margin-right: 56%; 
        text-align: left;
    }

}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
 

}