:root{
    /* Define Global Colors here */
    --deep-green: #697429;
    --light-pink: #E2ADBA;
    --white: #FFFFFF;
    --dark-pink: #C34364;
 
}

@font-face {
    font-family: against_regular;
    src:url("../fonts/against_regular.ttf"), url("../fonts/against_regular.otf") format("opentype");
}

body {
    background: var(--deep-green);
    font-family: 'Red Hat Text', sans-serif;
}

h1 {
    font-family: against_regular, monsterrat, "arial", sans-serif;
    color: var(--light-pink)
}

.white {
    color: var(--white);
}

button {
    border: none;
    border-radius: 50px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.btn-pink {
    background-color: var(--dark-pink);
    color: var(--white)
}